.container {
  margin-top: 28px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 40px;
}
.containerTitle {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 16px;
  border-bottom: 1px solid #dadada;
}
@media (max-width: 380px) {
  .container {
    gap: 32px;
  }
  .containerTitle {
    width: 90%;
  }
}
