.formContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 420px;
}
.caption {
  width: 680px;
  padding-bottom: 16px;
  border-bottom: 1px solid #dadada;
}
.btn {
  cursor: pointer;
  width: 170px;
  height: 46px;
  padding: 12px 42px;
  gap: 12px;
  border-radius: 50px;
  color: #fdfdfd;
  background-color: #161616;
  margin-top: 8px;
  border: none;
}
.btn:hover {
  filter: invert(1);
}
@media (max-width: 380px) {
  .caption {
    width: 90%;
  }
  .btn {
    width: 263px;
  }
  .formContainer {
    box-sizing: border-box;
    width: 300px;
    margin-bottom: 32px;
  }
}
