@import url("./Font/font.css");
* {
  font-family: "Manrope";
}
.title {
  font-size: 24px;
  font-weight: 600;
}
.headline {
  font-size: 20px;
  font-weight: 600;
}
.t1S {
  font-size: 18px;
  font-weight: 600;
}
.t1M {
  font-size: 18px;
  font-weight: 500;
}
.t2S {
  font-size: 16px;
  font-weight: 600;
}
.t2M {
  font-size: 16px;
  font-weight: 500;
}
.caption {
  font-size: 14px;
}
.App {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 415px) {
  .headline {
    font-size: 18px;
    font-weight: 600;
  }
  .t1S {
    font-size: 16px;
    font-weight: 600;
  }
  .t1M {
    font-size: 16px;
    font-weight: 500;
  }
  .t2S {
    font-size: 14px;
    font-weight: 600;
  }
  .t2M {
    font-size: 14px;
    font-weight: 500;
  }
  .caption {
    font-size: 10px;
    font-weight: 600;
  }
}
